Intermediate/
DerivedDataCache/
Saved/
Binaries/
Build/
.vs/
.plastic/
.idea/
Plugins/
Content/AssetPacks/
Content/Audio/
Content/Widgets/Images/
Content/MetaHumans/
Content/Splash/
Content/Pxii/Texture/
Content/Pxii/Animations/Prototypes/RapierSet/
