Intermediate/
DerivedDataCache/
Saved/
Binaries/
Build/
.vs/
.plastic/
.idea/
Plugins/
Content/AssetPacks/
Content/Audio/
Content/Widgets/Images/
Content/MetaHumans/
Content/Splash/
Content/Pxii/Texture/
Content/Pxii/Animations/Prototypes/RapierSet/
Content/Locomotor/Mech/
Content/Characters/
Content/Developers/Burlin/Animations/Prototypes/
Content/Levels/LevelPrototyping/
Content/Pxii/SplashScreen/
DashLibData/
Content/Polygonflow/
Content/Developers/DhenzZerrudo/Animations/
Content/Developers/DhenzZerrudo/Textures/
Content/Developers/Danny/Game_UI_Icons/
Content/AbandonedManor/
Content/Pack_Bonus/
Content/Developers/silmi/
Content/Developers/FarahAzhar/
Content/LevelPrototyping/
Content/Pxii/Maps/
Content/__ExternalObjects__/
Content/__ExternalActors__/
Content/Sci_Fi_Train_Station/
Content/AncientTempleRuins/
Content/MWTropicalRainforest/
Content/MWCommon/
Content/Sci_Fi_Cargo_Hub/
Content/Pxii/Environment/
Content/Developers/daniel/Characters/PC/
Content/Developers/geral/
Content/Ghis_WindSystem/
Content/Megascans/
Content/MSPresets/
Content/Maps/
Content/Developers/natha/
Content/Pxii/Widgets/Textures/
Content/Developers/daniel/
Content/Fab/
Content/Pxii/Characters/PC/Yaya/
Content/Pxii/Characters/PC/Yue/
Content/Pxii/Weapons/
Content/Developers/DhenzZerrudo/VFX/
Content/Pxii/Characters/PC/Common/
Content/Pxii/Characters/Common/
Content/Levels/
Content/Pxii/Characters/PC/Animation/ComboAtt/
Content/Materials/
Content/Meshes/
Content/Textures/
Content/_GENERATED/

Content/Developers/Danny/
Content/Developers/DhenzZerrudo/
Content/Pxii/Characters/Enemies/Minions/
Content/Pxii/Cinematics/
Content/Pxii/Characters/Enemies/
Content/Pxii/Characters/_tmp/
Content/Pxii/Placeholders/
Content/Pxii/SFX/
Content/Waveborne_The_Sacred_Threshold/
Content/SkyboxPack_II/
Content/UltraFXWarrior/
Content/Saigon_Alley/
Content/Abandoned_Hong-Kong/
Content/Pxii/VFX/
Content/FoggyStreet/
Content/Traditional_Chinese_Style_Park/
Content/RainforestPack/
Content/ProceduralWorldGen/
Content/OutpostandBunker/
Content/GraveyardPack/
Content/Developers/Alya/
Content/MS/
